<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="skycode.dicoding.jetpack.mvvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="skycode.dicoding.jetpack.mvvm.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_movie_db_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_movie_db_green"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackMVVM"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name="skycode.dicoding.jetpack.mvvm.ui.favorite.FavoriteActivity" />
        <activity android:name="skycode.dicoding.jetpack.mvvm.ui.main.MainActivity" />
        <activity android:name="skycode.dicoding.jetpack.mvvm.ui.detail.DetailMovieActivity" />
        <activity android:name="skycode.dicoding.jetpack.mvvm.ui.main.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>